.sky {
  background: #CC231E;
}

.jumbotron {
  /* background: url('images/christmas.jpg') !important; */
  background-size: cover;
  height: 400px;
  margin-top: 30px;
  border: 2px solid #fff;
}

.jumbotron h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center ;
  color: #fff !important;
}

 video {
  border: 3px solid #fff;
  padding: 2px;
}

.chapter {
  text-align: center;
}

h4 {
  color: #fff !important;
}

.santa-1 img{
  width: 15%;
  border: 2px solid  #CC231E;
  border-radius: 5px;
  padding: 1px;
}

.santa-2 img{
  width: 15%;
  border: 2px solid  #CC231E;
  border-radius: 5px;
  padding: 1px;
  margin-left: 20px;
  
}

@media screen and (max-width: 767px) {
  .santa-1 img {
    width: 25%;
    margin-left: 200px;
    margin-top: 20px;
    } 
    .santa-2 img {
      display: none;
    }  
  }




// .santa-2 {
//   width: 15%;
//   margin-left: 500px;
//   margin-bottom: 10px;
//   border: 2px solid  #CC231E;
//   border-radius: 5px;
//   padding: 1px;
// }