.sky {
  background: #CC231E;
}

.jumbotron {
  /* background: url('images/christmas.jpg') !important; */
  background-size: cover;
  height: 400px;
  margin-top: 30px;
  border: 2px solid #fff;
}

.jumbotron h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center ;
  color: #fff !important;
}

 video {
  border: 3px solid #fff;
  padding: 2px;
}

.chapter {
  text-align: center;
}

h4 {
  color: #fff !important;
}
