.sky {
  background: #CC231E;
}

.jumbotron {
  /* background: url('images/christmas.jpg') !important; */
   -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     -o-background-size: 100% 100%;
     background-size: 100% 100%;
  background-size: cover;
  /* margin-top: 10px; */
  border: 2px solid #fff;
}

.jumbotron h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center ;
  color: #fff !important;
}

 video {
  border: 3px solid #fff;
  padding: 2px;
}

.chapter {
  text-align: center;
}

.frame h3 {
  font-family: 'Indie Flower', cursive;
  text-align: center ;
  color: #fff !important;
}

.santa-1{
  width: 15%;
  border: 2px solid  #CC231E;
  border-radius: 5px;
  padding: 1px;
}

.santa-2 {
  width: 15%;
  border: 2px solid  #CC231E;
  border-radius: 5px;
  padding: 1px;
  margin-left: 650px;
  
}



/* Laptops */
@media only screen  and (max-width : 1190px) {
  .santa-1 {
    margin-left: 160px
  }
  .santa-2 {
    margin-left: 80px;
  }
  }
  
/* iPhone 6 */
@media screen and (max-width: 667px) 
and ( orientation: portrait ){
  .santa-1 {
    width: 25%;
    margin-left: 130px;
    margin-top: 10px;
    } 
     .santa-2 {
       display: none;
     }  
  }

  @media screen and (max-width: 667px) 
  and ( orientation: landscape ){
  .santa-1 {
    width: 25%;
    margin-left: 230px;
    margin-top: 10px;
    } 
     .santa-2 {
       display: none;
     }  
  }

  /* iphone 10 */
  @media screen and (max-width: 812px) 
  and ( orientation: portrait ){
  .santa-1 {
    width: 25%;
    margin-left: 130px;
    margin-top: 10px;
    } 
     .santa-2 {
       display: none;
     }  
  }

  @media only screen and (max-width : 812px) 
  and (orientation : landscape){
  .santa-1 {
    width: 25%;
    margin-left: 100px;
    margin-top: 10px;
    } 
     .santa-2 {
       display: none;
     }  
  }

/* Retina iPad in portrait & landscape */
@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and ( orientation: portrait ) {
  .santa-2 {
    display: none !important;
  } 
  .santa-1 {
    width: 25%;
    margin-left: 240px;
  } 
}

@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and ( orientation: landscape ) {
  .santa-2 {
    display: none !important;
  } 
  .santa-1 {
    width: 25%;
    margin-left: 320px;
  } 
}
