.sky {
  background: #CC231E;
}

.jumbotron {
  /* background: url('images/christmas.jpg') !important; */
   -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
     -o-background-size: 100% 100%;
     background-size: 100% 100%;
  background-size: cover;
  /* margin-top: 10px; */
  border: 2px solid #fff;
}

.jumbotron h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center ;
  color: #fff !important;
}

 video {
  border: 3px solid #fff;
  padding: 2px;
}

.chapter {
  text-align: center;
}

.frame h3 {
  font-family: 'Indie Flower', cursive;
  text-align: center ;
  color: #fff !important;
}

.santa-1{
  width: 15%;
  border: 2px solid  #CC231E;
  border-radius: 5px;
  padding: 1px;
}

.santa-2 {
  width: 15%;
  border: 2px solid  #CC231E;
  border-radius: 5px;
  padding: 1px;
  margin-left: 650px;
  
}



/* Laptops */
@media only screen  and (max-width : 1190px) {
  .santa-1 {
    margin-left: 160px
  }
  .santa-2 {
    margin-left: 80px;
  }
  }
  
/* iPhone 6 */
@media screen and (max-width: 667px) 
and ( orientation: portrait ){
  .santa-1 {
    width: 25%;
    margin-left: 130px;
    margin-top: 10px;
    } 
     .santa-2 {
       display: none;
     }  
  }

  @media screen and (max-width: 667px) 
  and ( orientation: landscape ){
  .santa-1 {
    width: 25%;
    margin-left: 230px;
    margin-top: 10px;
    } 
     .santa-2 {
       display: none;
     }  
  }

  /* iphone 10 */
  @media screen and (max-width: 812px) 
  and ( orientation: portrait ){
  .santa-1 {
    width: 25%;
    margin-left: 130px;
    margin-top: 10px;
    } 
     .santa-2 {
       display: none;
     }  
  }

  @media only screen and (max-width : 812px) 
  and (orientation : landscape){
  .santa-1 {
    width: 25%;
    margin-left: 100px;
    margin-top: 10px;
    } 
     .santa-2 {
       display: none;
     }  
  }

/* Retina iPad in portrait & landscape */
@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and ( orientation: portrait ) {
  .santa-2 {
    display: none !important;
  } 
  .santa-1 {
    width: 25%;
    margin-left: 240px;
  } 
}

@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and ( orientation: landscape ) {
  .santa-2 {
    display: none !important;
  } 
  .santa-1 {
    width: 25%;
    margin-left: 320px;
  } 
}


/* SNOW Effect */

html, body {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  min-height:100%;
  }
  
  .snowflakes {
    width: 100%; height: 1200px;
    position: absolute; top: -90px; left: 0;
  }
  
  i, i:after, i:before { background: white; }
  i {
    display: inline-block;
    -webkit-animation: snowflakes 3s linear 2s 20;
    -moz-animation: snowflakes 3s linear 2s 20;
    position: relative;
  }
  i:after, i:before {
    height: 100%;
    width: 100%;
    content: ".";
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform: rotate(120deg);
  }
  i:before { -webkit-transform: rotate(240deg); }
  
  @-webkit-keyframes snowflakes {
    0% {
      -webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
    }
    100% {
      -webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
    };
  }
  
  .snowflakes i:nth-child(3n) {
    width: 16px; height: 4px;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 30;
    -webkit-transform-origin: right -45px;
  }
  
  .snowflakes i:nth-child(3n+1) {
    width: 24px; height: 6px;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: 45;
    -webkit-transform-origin: right -30px;
  }
  
  .snowflakes i:nth-child(3n+2) {
    width: 32px; height: 8px;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: 60;
    -webkit-transform-origin: right -15px;
  }
    
  /* different delays so they don't all start at the same time */
  .snowflakes i:nth-child(7n) {
    opacity:.3;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function:ease-in;
  }
  .snowflakes i:nth-child(7n+1) {
    opacity:.4;
    -webkit-animation-delay: 1s;
    -webkit-animation-timing-function:ease-out;
  }
  .snowflakes i:nth-child(7n+2) {
    opacity:.5;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-timing-function:linear;
  }
  .snowflakes i:nth-child(7n+3) {
    opacity:.6;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function:ease-in;
  }
  .snowflakes i:nth-child(7n+4) {
    opacity:.7;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-timing-function:linear;
  }
  .snowflakes i:nth-child(7n+5) {
    opacity:.8;
    -webkit-animation-delay: 3s;
    -webkit-animation-timing-function:ease-out;
  }
  .snowflakes i:nth-child(7n+6) {
    opacity:.9;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-timing-function:ease-in;
  }